@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

:root {
  --bright-yellow: #fbd53f;
  --dark-blue: #333652;
  --blue-gray: #768898;
  --white: #f0f0f0;
  --gray: #929191;
  --pastel-yellow: #c0b992;
  --white-background: #d4d4d4;
  --transparent: rgba(0, 0, 0, 0);
}

body {
  font-family: "Kanit", sans-serif;
  background-image: linear-gradient(var(--gray), var(--pastel-yellow));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 6rem 2rem;
  background-color: var(--dark-blue);
  color: var(--bright-yellow);
}

header .logo-title {
  display: flex;
  align-items: center;
}

header .logo-title h1 {
  font-size: 4rem;
}

header .logo-title img {
  width: 10rem;
  margin: 1rem;
}

div.nav {
  display: flex;
  align-items: center;
}

header .nav .material-symbols-rounded {
  background-color: var(--bright-yellow);
  color: var(--dark-blue);
  font-size: 1.5rem;
  transition: 0.25s;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

header .nav .material-symbols-rounded:hover {
  scale: 1.15;
}

header .nav .links {
  display: none;
}

header .nav .links .c-links {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  font-size: 1.3rem;
  transition: 0.5s;
}

header .nav .links .c-links:hover {
  font-size: 1.5rem;
  border-bottom: 0.25rem solid var(--bright-yellow);
  border-left: 0.25rem solid var(--bright-yellow);
}

header .nav .links .link {
  text-decoration: none;
  color: var(--bright-yellow);
}

header .nav .links .submenu {
  display: none;
  position: absolute;
  margin-top: 2.5rem;
}

header .nav .links .submenu li a {
  text-decoration: none;
  color: #333652;
}

header .nav .links .submenu li {
  list-style: none;
  transition: 0.25s;
  padding: 0.5rem;
  margin-left: -2rem;
  background-color: var(--blue-gray);
}

header .nav .links .submenu li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

header .nav .links .submenu li:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

header .nav .links .submenu li:hover {
  scale: 1.08;
  background-color: var(--bright-yellow);
}

header .nav .links .c-links:hover .submenu {
  display: inline-block;
}

main {
  width: 75%;
  margin: auto;
  margin-top: -4rem;
}

hr.rounded {
  border-top: 0.5rem solid var(--dark-blue);
  margin: 0;
}

main section.content {
  background-color: var(--white-background);
  padding: 1rem 2.5rem 1rem 2.5rem;
}

main section.content h2 {
  text-align: center;
  font-size: 1.75rem;
}

main section.content h3 {
  font-size: 1.5rem;
}

main section.content p {
  font-size: 1.15rem;
}

main section.content.about-us p {
  text-indent: 3ch;
  margin: 0 auto 0.5rem auto;
  text-align: start;
  width: 85%;
}

main section.content.about-us {
  text-align: center;
  border-radius: 1rem 1rem 0rem 0rem;
}

main section.content.about-us .image-cep {
  border-radius: 0.5rem;
  margin: 1rem;
  width: 85%;
}

main div.students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main section.content div.students .student {
  margin: 1.15rem;
  padding: 1.5rem 0.75rem 1.5rem 0.75rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--bright-yellow);
  transition: 0.25s;
}

main section.content div.students .student p {
  padding: 0.5rem;
  text-align: start;
}

main section.content div.students .student:hover {
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main section.content div.students .student:hover::after {
  content: " ";
  background-image: linear-gradient(
    45deg,
    var(--transparent),
    var(--white-background)
  );
  border-radius: 0.5rem;
  mix-blend-mode: screen;
  opacity: 0.7;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

main section.content div.students img {
  border-radius: 0.5rem;
  width: 90%;
}

main section.content div.students .student.oliveira:hover {
  background-color: rgb(108, 203, 225);
}
main section.content div.students .student.antonio:hover {
  background-color: rgb(82, 0, 133);
  color: var(--white);
}
main section.content div.students .student.giorgio:hover {
  background-color: rgb(255, 92, 92);
}
main section.content div.students .student.arthur:hover {
  background-color: rgb(142, 209, 94);
}
main section.content div.students .student.carlos:hover {
  color: var(--white);
  background-color: rgb(30, 30, 30);
}

main section.content.projects .project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2.5rem auto 2.5rem auto;
  width: 85%;
}

main section.content.projects .project .description a {
  text-decoration: none;
  color: inherit;
}

main section.content.projects .project .description p {
  font-size: 1.25rem;
}

main section.content.projects .project .description {
  padding: 1.5rem;
  transition: 0.25s;
  border-radius: 0 0.5rem 0.5rem 0;
}

main section.content.projects .project .project-image {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

main section.content.projects .project .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.25s;
}

main section.content.projects .project:hover img {
  scale: 1.05;
}

main section.content.projects .project:hover .description {
  background-color: var(--dark-blue);
  color: var(--bright-yellow);
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    45deg,
    var(--bright-yellow),
    var(--blue-gray)
  );
  text-align: center;
  font-size: 1.4rem;
  padding: 0.25rem;
}

footer .cep a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: 0.25s;
}

footer .cep img {
  width: 5rem;
  padding: 0.5rem;
}

footer .cep a:hover {
  scale: 1.04;
}

@media only screen and (max-width: 1400px) {
  main {
    width: 85%;
  }
  
  main div.students {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
  }
  
  main section.content.projects .project .description {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 auto 0.5rem auto;
    width: 80%;
  }

  main section.content.projects .project .project-image {
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0.5rem auto 0 auto;
    width: 80%;
  }

  main section.content.projects .project {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  main section.content.projects .project {
    width: 85%;
  }

  main section.content.projects .project .description, 
  main section.content.projects .project:hover .description{
    background-color: var(--dark-blue);
    color: var(--white);
  }
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: baseline;
  }

  header .logo-title h1 {
    font-size: 3rem;
  }

  header .logo-title img {
    width: 5rem;
    margin: 0.5rem 0.5rem 0.5rem -0.5rem;
  }

  header .nav .material-symbols-rounded {
    margin: 1rem 0;
  }

  header .nav .links .c-links {
    font-size: 1.1rem;
  }

  header .nav .links .c-links:hover {
    font-size: 1.2rem;
  }

  main {
    width: 95%;
  }

  main section.content {
    background-color: var(--white-background);
    padding: 0.75rem;
  }

  main section.content h2 {
    font-size: 1.5rem;
  }

  main section.content p {
    font-size: 1rem;
  }

  main section.content.about-us .image-cep {
    margin: 1rem 0;
    width: 95%;
  }

  main div.students {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  footer {
    font-size: 1.2rem;
  }

  footer .cep img {
    width: 3rem;
  }
}
